html{
  scroll-behavior: smooth;
}

body{
  font-family: sans-serif;
}

img, video{
  width: 100%;
  height: auto;
}

dd{
  margin-bottom: 15px;
}

iframe{
  width: 80%;
  height: 400px;
}

input{
  accent-color: green;
}